/system/
/config/port.lock
/config/plugins
/config/options/updates.xml
config/options/dimensions.xml
config/options/options.xml
config/options/recentProjectDirectories.xml
config/options/statistics.actions.xml
config/options/statistics.application.usages.xml
config/options/statistics.main_menu.xml
config/options/statistics.shortcuts.xml
config/options/window.manager.xml
config/port
config/tasks/
config/options/feature.usage.statistics.xml
config/options/jdk.table.xml
config/options/other.xml
config/options/packages.xml
config/options/py_sdk_settings.xml
config/options/statistics.toolbar.clicks.xml
